{% extends 'hotels/hotels_base.html' %}

{% load static %}
{% static "hotels/img" as baseImageUrl %}

{% block content %}
<!--
To do on this page:
- Display booked history for those travel dates that are >= today
- Recent travels can be brought in right side small widget
- Filter by email ID / User ID based on logged in details -->

      <!-- slider Area Start-->
       <div class="slider-area">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'hotels/img/hero/contact_hero.jpg' %}" >
            <div class="container">
                <div class="row ">
                    <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                        <div class="hero-caption">
                            <span>Booked History</span>
                            <h2>Upcoming Travels</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================PNR Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for pnr in pnrlist %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <!--img class="card-img rounded-0" src="{% static 'hotels/img/blog/single_blog_1.png' %}" alt=""-->
                                <img class="card-img rounded-0" src="{{baseImageUrl}}//{{pnr.pnr_pic}}" alt="">
                                <a href="#" class="blog_item_date">
                                    <p> PNR </p>
                                    <h3> {{ pnr.pnr_id }} </h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>  {{ pnr.pnr_hotel_name }} located at {{ pnr.pnr_destination_code }} </h2>
                                </a>
                                <p> Booked on {{ pnr.pnr_booked_date }} </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> {{ pnr.pnr_email_id }} </a></li>
                                    <li><a href="#"><i class="fa fa-dollar-sign"></i> {{ pnr.pnr_amount }} {{ pnr.pnr_curr }} </a></li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================PNR Area =================-->

{% endblock %}