{% extends 'hotels/hotels_base.html' %}

{% load static %}
{% static "hotels/img" as baseImageUrl %}

{% block content %}

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% static 'hotels/img/hero/aboutpage_hero.jpg' %}" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>About</span>
                                <h2>About</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Make customer Start-->
        <section class="make-customer-area customar-padding fix">
            <div class="container-fluid p-0">
                <div class="row">
                   <div class="col-xl-5 col-lg-6">
                        <div class="customer-img mb-120">
                            <img src="{% static 'hotels/img/customer/customar1.png' %}" class="customar-img1" alt="">
                            <img src="{% static 'hotels/img/customer/customar2.png' %}" class="customar-img2" alt="">
                            <div class="service-experience heartbeat">
                                <h3>Our service is not a department, it's an attitude</h3>
                            </div>
                        </div>
                   </div>
                    <div class=" col-xl-4 col-lg-4">
                        <div class="customer-caption">
                            <span>Wydah</span>
                            <h2>Wherever you go, go with all your heart</h2>
                            <div class="caption-details">
                                <p class="pera-dtails">Wydah Hoteling supports your complete travel partner guidelines and have been successful in capturing your hearts. </p>
                                <p>Out motto, 'Courteous treatment will make a customer a walking advertisement' </p>
                                <a href="#" class="btn more-btn1">Learn More <i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Make customer End-->



        <!-- Gallery img Start-->
        <div class="gallery-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-active owl-carousel">
                            <div class="gallery-img">
                                <a href="#"><img src="{% static 'hotels/img/gallery/gallery1.jpg' %}" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="{% static 'hotels/img/gallery/gallery2.jpg' %}" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="{% static 'hotels/img/gallery/gallery3.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery img End-->

{% endblock %}